.container>h1 {
  display: inline-block;
  margin-top: 0;
}

footer {
  margin-top: 56px;
  text-align: center;
}

footer a {
  opacity: 0.5;
  color: #8c929d;
  padding: 0 0 3px 5px;
  border-bottom: 1px dashed #8c929d;
}

footer a:hover {
  opacity: 1;
}

footer svg {
  vertical-align: middle;
}

.card {
  margin-top: -20px;
  margin-bottom: 30px;
}
